<section>
    <img src="/assets/paris.jpg">
    <h2>Liste des Etudiants à Paris</h2>
    <table>
        <tr>
            <th>Nom:</th>
            <th>Préom:</th>
            <th>Adresse:</th>
            <th>Code Postale:</th>
            <th>Ville:</th>
            <th>Adresse Mail:</th>
            <th>Sexe:</th>
            <th>Age:</th>
            <th>ID:</th>
        </tr>
        <ng-container *ngFor="let etudiant of listEtudiantParis">
            <tr>
                <td>{{etudiant._nom}}</td>
                <td>{{etudiant._prenoms}}</td>
                <td>{{etudiant._rue}}</td>
                <td>{{etudiant._cp}}</td>
                <td>{{etudiant._ville}}</td>
                <td>{{etudiant._courriel}}</td>
                <td>{{etudiant._genre}}</td>
                <td>{{etudiant._age}}</td>
                <td>{{etudiant._idCand}}</td>
            </tr>
        </ng-container>
    </table>
</section>